<body>
<!-- Begin homepage -->
<div class="container">
    <div class="row">
        <br>
        <h1><b>Welcome to Phase One!</b></h1>
        <br>
		<b>Mike Haines, John Fitzpatrick, and Marco Zamora, also known as the Khon Software Development Team at Oregon State University, began the process of creating software for Catalyst Partnerships, a Portland, Oregon area not-for-profit home repair/remodel organization.  Their mission is to "bring together useful resources and caring volunteers to meet the needs of under-resourced people in our communities."  To find out more about Catalyst, please visit <a href="http://www.catalystnw.org" target=_blank>catalystnw.org</a>.<br><br>
		
		In twelve weeks, we had the task of creating a software tool that Catalyst volunteer staff (Vetting Agents) would use to connect with people who have applied for help.  Catalyst Vetting Agents assess the need, collect required financial/ownership documentation, and develop the beginnings of a relationship with the applicant. <br><br>
		
		Up until now, everything Catalyst has done has been on paper.  Paper applications, paper worksheets, notes written in margins, etc...  The Khon Team began the software development process, and what you see here is the result of some fantastic teamwork within and between the Catalyst Staff and Khon Development Team.</b>
		<br><br>
        
		<h4><a href="/application/add">Fill out an application</a></h4>
		This is where it all begins.  Someone who needs help will fill out this application.  From here, it will show up on a list of all applications in the Catalyst Vetting Agent View, seen below.
        <br><br>
		
        <h4><a href="/view">View all applications (Vetting Home)</a></h4>
        <br>
        <!-- <h4>Sample <a href="/view/583f96201df29e28583456f2">Application View</a>
            or <a href="/vettingworksheet/583f96201df29e28583456f2">Vetting Worksheet</a> for Perry Mason</h4>
        <h4>Sample <a href="/view/583f9071c7579c1590ac5d69">Vetting View</a>
            or <a href="/vettingworksheet/583f9071c7579c1590ac5d69"> Vetting Worksheet</a> for Homer Simpson</h4> -->
    </div>
</div>
</body>